.navbar {
    background: white;
    color: white;
    height: 3vh, 2,5 rem;
    list-style: none;
    display: flex;
    
  
    align-items: center;
    justify-content: space-between;
    float: none;
  
  
    
    
   
  }

  .navbar-logo {
    list-style: none;
    flex-wrap:nowrap;
   
    justify-content: space-between;
    align-items: center;
    color: white;
    padding-right: 50px;
    padding-left: 50px;
  }

   .logo {
      width: 30%;
      align-items: center;
      padding-left: 30%
      

     
   }

  .navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    max-width: 1500px;
  }
